<ion-view view-title="My Page">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text">
    </label>

  </ion-content>
</ion-view>


<!--
<div id="login" ng-controller="LoginCtrl">

  <div class="alert alert-danger" role="alert" ng-show="formIsSubmitted && !hostName">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span translate="ERROR_LOGIN_HOSTNAME_EMPTY"></span>
  </div>
  <div class="alert alert-danger" role="alert" ng-show="formIsSubmitted && !selectedCarBrand">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span translate="ERROR_LOGIN_CARBRAND_EMPTY"></span>
  </div>
  <div class="alert alert-danger" role="alert" ng-show="formIsSubmitted && !selectedCampaign">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span translate="ERROR_LOGIN_CAMPAIGN_EMPTY"></span>
  </div>

  <form novalidate name="loginForm" ng-submit="submit()" autocomplete="off">

    <div class="form-group">
      <label for="hostName" translate="HOST_LABEL"></label>
      <input type="text" class="form-control" id="hostName" ng-model="hostName" list="comicstitle"
             placeholder="Max Muster" required>
    </div>

    <datalist id="comicstitle">
      <option data-ng-repeat="ttl in titles" value="{{ttl}}">
    </datalist>

    <div class="form-group" ng-controller="SelectBrandCtrl">
      <label translate="BRAND_SELECT_LABEL"></label>
      <ui-select id="selectBrand" ng-model="selectedCarBrand.selected" on-select="passOnParentScope($model)"
                 theme="selectize" search-enabled="false" ng-required="true">
        <ui-select-match placeholder="{{'BRAND_SELECT_PLACEHOLDER'|translate}}">{{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="carBrand in carBrands | filter: $select.search">
          <span ng-bind-html="carBrand.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group" ng-controller="SelectCampaignCtrl">
      <label translate="CAMPAIGN_SELECT_LABEL"></label>
      <ui-select id="selectCampaign" ng-model="selectedCampaign.selected" on-select="passOnParentScope($model)"
                 theme="selectize" search-enabled="false" ng-required="true">
        <ui-select-match placeholder="{{'CAMPAIGN_SELECT_LABEL'|translate}}">{{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="campaign in campaigns | filter: $select.search">
          <span ng-bind-html="campaign.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>-->
