<ion-view view-title="SelectChoicesPage">
  <ion-content>
    <div class="list card">

      <a href="#/contacts" class="item item-icon-left">
        <i class="icon ion-model-s"></i>
        <span translate="ORDER_TEXT_TESTDRIVE"></span>
      </a>

      <a href="#" class="item ion-model-s">
        <i class="icon ion-document-text"></i>
        <span style="padding-left: 4px" translate="ORDER_TEXT_TESTDRIVE_AND_CATALOG"></span>
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-document-text"></i>
        <span translate="ORDER_TEXT_CATALOG"></span>
      </a>

    </div>
  </ion-content>
</ion-view>
