<ion-view view-title="SelectChoicesPage">
  <ion-content>
    <div class="list card">

      <a href="#/order/select/testdrive" class="item ">
        <div class="item-icon-left">
          <i class="icon ion-model-s"></i>
        </div>
        <span style="padding-left:45px;" translate="ORDER_TEXT_TESTDRIVE"></span>
        <div class="item-icon-right">
          <i class="icon ion-arrow-right-c"></i>
        </div>
      </a>

      <a href="#/order/select/testdriveAndCatalog" class="item ion-model-s">
        <i class="icon ion-document-text" ></i>
        <span style="padding-left: 11px" translate="ORDER_TEXT_TESTDRIVE_AND_CATALOG"></span>
        <div class="item-icon-right">
          <i class="icon ion-arrow-right-c"></i>
        </div>
      </a>

      <a href="#/order/select/catalog" class="item">
        <div class="item-icon-left">
          <i class="icon ion-document-text"></i>
        </div>
        <span style="padding-left:45px;" translate="ORDER_TEXT_CATALOG"></span>
        <div class="item-icon-right">
          <i class="icon ion-arrow-right-c"></i>
        </div>
      </a>

    </div>
  </ion-content>
</ion-view>
